body {
  padding: 8px;
  display: flex;
  flex-direction: column;
}

h1 {
  border-bottom: 2px solid black;
}

h2 {
  border-bottom: 1px solid black;
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
}

img {
  margin-bottom: 5px;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer button {
  margin-left: 10px;
}

footer p {
  margin-bottom: 0;
}

.hidden {
  display: none;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.game-board {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 25px;
}

.col {
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block {
  font-size: xxx-large;
}

.score-board {
  margin-bottom: 0.5rem;
}

#title-container {
  display: flex;
  justify-content: center;
}

#countdown {
  align-self: center;
  margin-bottom: 90px;
  font-size: x-large;
}

#first-row,
#second-row {
  border-bottom: 2px solid black;
}

#first-row div:nth-child(3),
#second-row div:nth-child(3),
#third-row div:nth-child(3) {
  border-left: 2px solid black;
}

#first-row div:nth-child(1),
#second-row div:nth-child(1),
#third-row div:nth-child(1) {
  border-right: 2px solid black;
}


/* Media breakpoint for desktops */
@media (min-width: 768px) {

  .main-content {
    flex-direction: row;
  }

  .game-board {
    width: 500px;
  }
}